@import 'tailwindcss';

@theme inline {
   /* Primary */
   --color-main-white: oklch(0.9 0.05 20); /* scrollbar */
   --color-main-lightest: oklch(0.8 0.11 20); /* 1 */
   --color-main-light: oklch(0.75 0.11 20);
   --color-main: oklch(0.67 0.11 20);
   --color-main-subtle: oklch(0.55 0.06 20); /* 3 */
   --color-main-dark: oklch(0.6 0.1 20);
   --color-main-dark-vivid: oklch(0.55 0.1 20);
   --color-main-darker: oklch(0.5 0.07 20);
   --color-main-border: oklch(0.43 0.075 20);
   --color-main-gray: oklch(0.3 0 0); /* 1 */

   /* Semantic */
   --color-success: oklch(0.7 0.16 150);
   --color-error: oklch(0.7 0.2 25);
   --color-warning: oklch(0.9 0.18 95);

   /* Accent / secondary */
   /* --color-accent: oklch(0.6 0.15 290); */
   --color-accent: oklch(0.8 0.16 250);

   --color-animated-body: var(--color-main-light);
   /* --color-animated-border: oklch(0.6 0.2 320); */
   --color-animated-border: oklch(0.6 0.15 290);

   /* Brand */
   --color-brand-spotify: #1ed760;
   --color-brand-osu: #ff66aa;

   /* Others */
   --color-dialog: var(--color-main-light);
   --color-white-50: #d9d9d9;

   --breakpoint-lgx: 75rem;
   --breakpoint-landing: 1220px;

   --font-inter: 'Inter', sans-serif;
   --font-inter-tight: 'Inter Tight', sans-serif;

   --text-xs: 0.75rem;
}

@layer utilities {
   .animate-border {
      border: 4px solid #0000;
      background:
         linear-gradient(var(--color-animated-body), var(--color-animated-body)) padding-box,
         linear-gradient(var(--angle), var(--color-main-border), var(--color-animated-border)) border-box;
      animation: 7s rotate linear infinite;
      transition: all 0.3s ease;
   }
   .animate-border:hover,
   .animate-border-from-osu:hover,
   .animate-border-from-spotify:hover {
      animation: none;
      border-color: var(--color-animated-border);
   }

   @keyframes rotate {
      to {
         --angle: 360deg;
      }
   }
   @property --angle {
      syntax: '<angle>';
      initial-value: 0deg;
      inherits: false;
   }

   .scrollbar::-webkit-scrollbar {
      width: 10px;
      height: 10px;
   }

   .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: var(--color-main-white);
   }

   .scrollbar::-webkit-scrollbar-thumb {
      background: var(--color-main-lightest);
      border-radius: 100vh;
      border: 3px solid var(--color-main-white);
   }

   .scrollbar::-webkit-scrollbar-thumb:hover {
      background: var(--color-main-light);
   }

   .selected {
      /* @apply text-accent drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.2)]; */
      @apply text-accent text-shadow-2xs/20;
   }

   .shadow-tight {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
   }
   /* text-shadow-2xs/30*/
   .font-outline {
      @apply drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.55)];
   }
   .font-outline-sm {
      @apply drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.3)];
   }
   .input-parent {
      @apply border-2 border-main-border bg-gray-200 rounded-full flex items-center gap-1 px-1.5 w-fit h-[26px] transition-all text-sm;
   }
   .input-parent-no-padding {
      @apply border-2 border-main-border bg-gray-200 rounded-full flex items-center gap-1 w-fit h-[26px] transition-all text-sm;
   }
   .bg-triangles {
      background:
         url(/osu/tris-l-t.svg) no-repeat,
         url(/osu/tris-r-t.svg) no-repeat top right,
         var(--color-dialog);
   }
   .bg-test {
      background-color: var(--color-main);
      background-image: url('https://osu.ppy.sh/assets/images/nav2-background-hue0.1aba1596.png');
      background-blend-mode: luminosity;
      filter: none;
   }
   .bg-triangles-faded {
      background:
         linear-gradient(transparent, var(--color-dialog) 60px, var(--color-dialog) 100%),
         url(/osu/tris.png) no-repeat,
         url(/osu/tris2.png) no-repeat top right,
         var(--color-dialog);
   }
   .bg-triangles-faded-right {
      background:
         linear-gradient(transparent, var(--color-dialog) 60px, var(--color-dialog) 100%),
         url(/osu/tris2.png) no-repeat top right,
         var(--color-dialog);
   }
}

@plugin 'tailwind-scrollbar';
@plugin 'tailwindcss-animate';
